<!DOCTYPE html>
<html>
  <head>
    <!-- viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no shrink-to-fit=no">

    <title>Mapper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'server-bundle' %>
  </head>

  <body>
    <%= yield %>
    <%= yield :js %>
  </body>
</html>
